.carousel{
    max-width: 35rem;
    height: 40rem;
    margin-top: -1rem;
    margin-left: 2rem;
}

.mySwiper{
  width: 100%;
}


.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE DESIGN */
@media  screen and (max-width: 480px) {
  .carousel{
    max-width: 20rem;
    height: 20rem;
    margin-top: -3rem;
    margin-left: -2rem;
    margin-bottom: 4rem;
  }
}





