.container{
    display: flex;
    padding: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

.imageWrapper{
    position: relative;
    width: 40%;
    height: 25rem;
    overflow: hidden;
    border-radius: 2rem;
}

.imageWrapper>span>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    justify-content: space-between;
}

.right>:nth-child(2){
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--gray);
}

.size{
    display: flex;
    gap: 2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.sizeVariants{
    display: flex;
    gap: 0.6rem;
    font-weight: normal;
    color: var(--themeRed);
    font-size: 0.8rem;
}

.sizeVariants > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.5rem;
    border: 2px solid var(--themeRed);
    border-radius: 2rem;

}

.sizeVariants > div:hover{
    background-color: var(--themeRed);
    color: white;
    cursor: pointer;
}

.quantity{
    display: flex;
    gap: 1rem;
}



.counter{
    display: flex;
    gap: 1rem;
}

.btn{
    font-weight: normal;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.selected{
    background-color: var(--themeRed);
    color: white;
    cursor: pointer;
}

/* MOBILE RESPONSIVNESS */

@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
        margin-top: 0;
    }

    .imageWrapper{
        width: 100%;
        height: 14rem;
    }
    
    .right{
        margin-top: -3rem;
        font-size: 2.2rem;
    }

    .right>:nth-child(1){
        font-size: 1.8rem;
    }

    .right>:nth-child(2){
        font-size: 1rem;
    }

   

    .container> .right> :nth-child(6){
        display: grid;
        place-items: center;
        width: 6.6rem;
        height: 2.1rem;
        font-weight: normal;
        font-size: 0.8rem;
        margin-top: 0.2rem;
    }

    .size{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: 600;
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .sizeVariants{
       margin-top: -0.7rem;
    }

    .quantity{
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    
}