@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--themeBlack);
  background: var(--background-color);
  overflow-x:hidden;
}

:root{
  --themeRed: #F54748;
  --themeBlack: #2E2E2E;
  --pink: #FDECEC;
  --gray: #828282;
  --shadow: -4px 12px 20px -2px rgba(0, 0, 0, 0.19);
  --background-color:  linear-gradient(180deg, rgba(255, 237, 237, 0.85) 0%, rgba(255, 255, 255, 0) 30rem);
  --cartBack : rgba(255, 255, 255, 0.38);
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--themeRed);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease;
  scroll-behavior: smooth;

}

.btn{
  width: max-content;
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--themeRed);
}

.swiper-button-next,
.swiper-button-prev{
  color: black !important;
}

.swiper-pagination-bullet-active {
   background-color: var(--themeRed) !important; 
  }

.swiper-pagination-bullet{
  width: 0.7rem !important;
  height: 0.7rem !important;
}

/* .phoneInputInput{
  padding-left: -3rem !important;
}

.PhoneInputCountryIcon{
  position: absolute;
  margin-left: 2rem;
}

.PhoneInputCountrySelectArrow{
  position: absolute !important;
  margin-left: 1rem !important;

} */

