.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
}

.formContainer>span:nth-child(1){
    font-weight: bold;
    font-size: 1.5rem;
}

.formContainer>input{
    width: 20%;
    outline: none;
    padding: 0.8rem;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 0.4rem;
}

.formContainer>button{
    padding: 0.9rem;
    font-size: 1rem;
    width: 20%;
    border-radius: 0.5rem;
    background: var(--themeRed);
}

.signUp{
    color: var(--themeRed);
}

.signUp:hover{
    cursor: pointer;
}

.forgotPassword{
    color: var(--themeRed);
}

.forgotPassword:hover{
    cursor: pointer;
}

.formContainer> span:last-child{
    margin-top: -1rem;
}
.formContainer> span:last-child::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(213, 213, 213);
    margin: 1rem 0;
  }

  .formContainer>input{
    width: 30%;   
}

.formContainer>button{
    width: 30%;
}

@media screen and (max-width: 1000px) {
    .formContainer{
        margin-top: 2rem;
    }

    .formContainer>input{
        width: 40%;   
    }

    .formContainer>button{
        width: 40%;
    }
}