.container{
    position: absolute;
    top: 4.5rem;
    right: 7rem;
    border-radius: 0.5rem;
    background-color: rgb(243, 224, 224);
    padding: 1rem 0;
    z-index: 999;
    min-width: 9.5rem;
    transition: ease 2s;
}

.container > p{
    width: 100%;
    padding: 0 1rem;
}

.container > p:last-child{
    margin-bottom: 0;
}

.container > p:hover{
    background-color: rgba(0, 0, 0, 0.05);
     cursor: pointer;
}

@media screen and (max-width: 480px){
    .container{
        top: 9rem;
        right: 2rem;
        background-color: blue;
    }
}

